@charset "EUC-KR";
body{
		margin:0;
		padding: 0;
	}
	.icon{
		width:20px;
		margin-top:0px;
	}
	
	.head{
		height: 5vh;
		width: 2030px;
		line-height: 0;
		background-color: beige;
	}
	.up{
		background-image: url( "./main_img.png" );
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-color:#ffd966;
		height: 830px;
		width: 2030px;
		position: relative;
		margin-bottom:0;
		padding:0;
	}
	.down{
		margin-top: 0;
		padding:0;
		background-color:beige;
		width: 2030px;
		height: auto;
		position: relative;
		
	}
	.footer{
		background-color:black;
		height:200px;
		margin: 0 auto;
	}
	.rank{
		margin: 0 auto;
		width:1200px;
	}
	#menubar{
		width: 100%;
		float: left;
		list-style-type: none;
        justify-content:space-evenly;
        display: flex;
        flex-wrap: nowrap;
        font-weight:bold;
		
	}
	.menu{
		color: black;
		text-decoration: none;
		font-size: 20px;
		margin:15px;
	}
	.img1{
		position: absolute;
		width:100%;
	}
	.img2{
		position: absolute;
		width:480px;
		left: 50%;
		top: 30%;
	}
	.title{
		position:relative;
		margin:0; padding:0;
		top: 100px;
		left: 130px;
		font-size: 100px;
		color: beige;
		z-index: 1;
	}
	.subtitle{
		position:relative;
		margin:0;
		left: 150px;
		top: 100px;
		font-size: 60px;
		color: beige;
		z-index: 1;
	}
	.search-box {
		position:relative;
		top: -260px;
		left: 1250px;
			
	}
	.search-txt{
		width:500px;
		height:50px;
		border:none;
		border-radius:5px;
		font-size: 20px;
		color:black;
	}
	.search-btn{
		width:60px;
		height:50px;
		background-color: beige;
		border: white;
		border-radius:5px;
		font-size: 20px;
	}
	summary{
		color: beige;
		font-size: 20px;
		margin-top:5px;
		transition-delay: .5s;
		font-weigth:bold;
	}
	details{
		position:absolute;
		transition-delay: .5s;
		
	}
	table{
		width:500px;
		height:150px;
		border-collapse: collapse;
		background-color:white;
		border: 1px solid black;
	}
	th {
		border: 1px solid #ffd966;
		
	} 
	td {
		border: 1px solid #ffd966;
	}
	.ranktitle{
		text-align:center; 
		font-size:80px; 
		color:red; 
		margin:0; 
		padding-top:50px;
		font-style: italic;
		
	}